<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ys.wechat.dao.TSysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.ys.wechat.model.TSysMenu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fid" property="fid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="icon_class" property="iconClass" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fid, name, url, icon_class, sort, isdel, create_date, update_date
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_sys_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectMenusByFid" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select 
    <include refid="Base_Column_List" />
    from t_sys_menu
    where 
      <if test="fid != null" >
        fid = #{fid,jdbcType=INTEGER}
      </if>
      <if test="fid == null" >
        fid is null
      </if>
     and isdel = 'n'
    order by sort
  </select>
  
  <select id="selectMenuAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sys_menu 
    and isdel = 'n'
    order by fid,sort
  </select>
  
  <select id="getByAdminId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  		select  
  			<include refid="Base_Column_List" />
  		 from t_sys_menu where id in(
			select DISTINCT menu_id from t_admin_perm where admin_id = #{adminId}
		)
		AND isdel = 'n' order by fid,sort
  </select>
  
</mapper>